In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../data/raw/student_distraction_data.csv")
df.head()

,study_hours,social_media_hours,youtube_hours,gaming_hours,sleep_hours,phone_unlocks,assignments_completed,distraction_score
0,4.745071,4.389266,3.399355,2.278361,6.324822,66,6,14.616681
1,3.792604,5.864125,2.924634,0.948814,6.855481,103,7,17.473924
2,4.971533,0.902149,2.059630,0.681801,6.207580,102,4,3.900046
3,6.284545,3.844454,1.353063,1.496626,6.692038,54,6,5.984936
4,3.648770,2.024036,2.698223,1.329815,5.106385,87,7,9.631883

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   study_hours            500 non-null    float64
 1   social_media_hours     500 non-null    float64
 2   youtube_hours          500 non-null    float64
 3   gaming_hours           500 non-null    float64
 4   sleep_hours            500 non-null    float64
 5   phone_unlocks          500 non-null    int64
 6   assignments_completed  500 non-null    int64
 7   distraction_score      500 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 31.4 KB

,study_hours,social_media_hours,youtube_hours,gaming_hours,sleep_hours,phone_unlocks,assignments_completed,distraction_score
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,4.011981,3.056405,2.115875,1.563832,6.988303,69.034000,4.658000,9.848014
std,1.466658,1.446621,0.992145,0.920415,0.958740,27.760658,2.873596,4.608556
min,0.000000,0.000000,0.000000,0.000000,4.000000,20.000000,0.000000,-4.937286
25%,2.949539,2.107062,1.397570,0.888064,6.339264,45.750000,2.000000,6.621431
50%,4.019196,3.042797,2.119806,1.491087,6.996848,69.000000,5.000000,9.755109
75%,4.955175,3.976863,2.754738,2.199769,7.669176,93.000000,7.000000,12.645649
max,9.779097,6.948573,4.601683,4.693108,10.000000,119.000000,9.000000,24.539255